
#calculator{
    margin: 50px;
    margin-left: 70px;
    border: 2px solid black;
    width: 40%;
    height:350px;
    background-color: rgb(236, 248, 248);
    border-radius: 4px;
    border-color: green;
}
h1{
    text-align: center;
    color:rgb(98, 17, 173)
}
#cal-body{
    text-align: center;
}
.eachNum{
    width: 20%;
    height: 40px;
    font-size: x-large;
    margin: 4px;
    background-color: rgb(49, 179, 49);
    font-weight: bold;
}
#input{
    height: 35px;
    width: 61%;
    margin: 4px;
}
.eachNum:hover{
    background-color: rgb(198, 240, 198);
}